:root {
  --container-padding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 6px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
  --button-text: var(--background);
  --secondaryBackground: var(--secondary);
  --button-secondaryForeground: var(--background);
  --focusBorder: var(--secondary);
  --input-border: var(--primary);
}

body {
  padding-top: 0;
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
}

ol,
ul {
  padding-left: var(--container-padding);
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

button {
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  max-width: 200px;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--button-text);
  background: var(--primary);
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background: var(--button-hoverBackground);
}

button.secondary {
  color: var(--button-secondaryForeground);
  background: var(--secondaryBackground);
}

button.secondary:hover {
  background: var(--button-secondaryHoverBackground);
}

input:not([type="checkbox"]),
textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--input-foreground);
  outline-color: var(--input-border);
  background-color: var(--input-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholderForeground);
}

.header {
  color: #006cc5;
  background-color: #0f1013;
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: left;
}

.header button {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble {
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

h2 {
  margin: 30px 0;
}

.page {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-dark);
  margin-top: -29px;
}

.search {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 15px;
  max-width: 360px;
}

.search button {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  max-width: 300px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-container {
  background-color: var(--background);
  width: 100%;
  margin-top: 0;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.spacer {
  width: 100%;
  height: 6px;
}

.drop-button {
  background-color: transparent;
  color: var(--light-text);
  padding: 10px;
  border: 1px solid var(--drop-btn-color);
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-button:hover {
  background-color: var(--drop-btn-color);
}

.sort-options {
  max-width: 150px;
  background-color: var(--input-background);
  margin-top: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.sort-options button {
  background-color: var(--input-background);
  border-radius: 0%;
  color: var(--foreground);
  width: 150px;
}

.results {
  width: 100%;
  margin-top: 20px;
}

.post {
  margin: 5px auto;
  background-color: var(--background);
  padding: 10px;
  width: 100%;
  min-height: 115px;
}

.post .link, .title {
  color: var(--dark-text);
  text-decoration: none;
}

.title {
  margin: 8px 0;
}

.HeaderSeparator, .date, .subreddit {
  color: var(--light-text);
}

.HeaderSeparator:after {
  content: "\2022";
  display: inline-block;
  margin: 0 4px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.post-bottom {
  display: flex;
  justify-content: left;
  column-gap: 8px;
}

.upvotes, .comments {
  border-radius: 16px;
  height: 32px;
  min-width: 32px;
  color: var(--light-text);
  border: 1px solid var(--upvote-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  column-gap: 5px;
  padding: 0 8px;
}

@media screen and (min-width: 650px) {
  .post {
    max-width: 800px !important;
    margin: 5px auto !important;
  }
  .header, .search-container {
    padding-left: 30px !important;
  }
}